<h1>Create a post</h1>

<form action="Create" method="post">
    <h5>Posting Author</h5>
    <input type="text" name="Author" class="form-control" required />
    <h5>Posting Text</h5>
    <textarea name="Text" class="form-control" rows="4" required></textarea>

    <button type="submit" class="btn btn-primary">Posten</button>
</form>